<h1>パスワードお忘れですか?</h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<%= form_with url: passwords_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "メールアドレス入力", value: params[:email_address] %><br>
  <%= form.submit "メールアドレス再設定" %>
<% end %>
