<div class="main-visual">
  <h1>Mamatalk</h1>

  <div>
    <%= link_to "ログイン", posts_path %>
  </div>

  <div>
    <%= link_to "新規登録", new_user_path %>
  </diV>

  <div>
    <%= button_to "ゲストログイン", guest_log_in_path, method: :post %>
  </div>
  

 <div>
  <h3>Mamatalkとは<h3>
    <p>育児中のママが気軽に悩みや喜びを</p>
    <p>共有できるコミュニティアプリです。</p>
</div>
 
</div>
