<div class="main-visual">
  <h1>Mamatalk</h1>

  <%= link_to "ログイン", new_session_path %>

  <%= link_to "新規作成", new_user_path %>



  <h2>Mamatalkとは<h2>
    <p>育児中のママが気軽に悩みや喜びを</p>
    <p>共有できるコミュニティアプリです。</p>
  
 
</div>
